{% extends "layout.html" %}

{% block title %}
Genre
{% endblock %}

{% block main %}
<br>
<form name="genreform" action="/genre" method="POST">
  <div class="form-group" style="margin: auto;">
    <label for="genre">Choose a genre!</label> <br>
    <input name="genre" list="genres" class="form-control" id="genre" required><br>
    <br><br>
    <datalist id="genres">
        {% for genre in l_genres %}
        <option value={{ genre[0] }}></option>
        {% endfor %}
    </datalist>
    <label for="rating">Specify minimum rating!</label> <br>
    <input name="rating" type="number" class="form-control" id="rating" placeholder="Rating" required><br>
    <button style='margin: 10px;' type="submit" class=" btn btn-outline-dark">Brew</button><br>

  </div>
</form>
{% endblock %}