{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<br> <br>
Choose your brew method! <br> <br>
<a href="/wild"><button type="button" class="btn btn-outline-dark">Wild Brew</button></a> <br> <br>
<a href="/genre"><button type="button" class="btn btn-outline-dark">By Genre</button></a> <br> <br>
<a href="/brewed2"><button type="button" class="btn btn-outline-dark">Top Rated</button></a> <br> <br>
<a href="/brewed3"><button type="button" class="btn btn-outline-dark">Most Popular</button></a> <br><br>
{% endblock %}